.dotBtn {
  color: #fff;
  background-color: #2279a6 !important;
  border-color: #288dc1 !important;
  /*width: 30%;*/
  font-size: 11px;
}

.mat-mdc-dialog-container {
  border: solid 2px #0b264db8 !important;
}

mat_tab_style {
  height: 451px;
}

/*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}

::ng-deep .mat-mdc-dialog-content {
  max-height: 200vh !important;
}

.mat-mdc-dialog-actions {
  display: block !important;
}

.request-exportCancelBtn {
  float: left;
  margin-left: 7px;
}

.request-exportNextBtn {
  float: right;
  margin-left: 7px;
}

.request-exportPreviousBtn {
  float: right;
  margin-right: 7px;
}

.request-exportSubmitBtn {
  float: right;
  margin-left: 7px;
}

/*
.request-exportSubmitBtn:disabled:hover{
    cursor: wait;
}
*/

/* FileUpload */
.ui-fileupload-choose.ui-button,
.ui-fileupload-choose.ui-button .ui-widget,
.ui-fileupload-choose.ui-button .ui-state-default {
  background-color: #0275d8;
  border: 1px solid #0275d8;
  color: #ffffff;
}

.ui-fileupload-choose.ui-button.ui-state-hover,
.ui-fileupload-choose.ui-button.ui-state-focus,
.ui-fileupload-choose.ui-button.ui-state-active {
  background-color: #025aa5;
  border-color: #01549b;
}

.panel-div {
  max-height: 150px;
  overflow: scroll;
}

.exportSelect {
  margin-top: 20px;
}

.resize-form-container {
  display: flex;
  flex-direction: column;
}

.resize-filters-section {
  display: flex;
  flex-direction: column;
}

.resize-filters-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.resize-filter-start-workspace {
  display: flex;
  flex-direction: row;
}

.padding-right {
  padding-right: 10px;
}

.resize-filter-button-group {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.resize-disk-space-container {
  position: relative;
}

.resize-disk-space-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.exportSelect {
  margin-top: 4px !important;
}

.resize-date-form {
  display: flex;
  justify-content: space-between;
}

.general-purpose-pricing {
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.general-pricing-headers {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #7a7a7a;
  margin-bottom: 8px;
  color: #7a7a7a;
}

.general-purpose-body {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.pricing-instance {
  width: 17%;
}

.manage-selection-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 140px;
}

::ng-deep .ui-chkbox {
  vertical-align: top;
}

::ng-deep .p-fileupload .p-fileupload-content {
  max-height: 350px;
  overflow-y: auto;
}

::ng-deep .p-fileupload .p-fileupload-buttonbar {
  padding: 1rem;
}

::ng-deep .p-fileupload .p-fileupload-buttonbar .p-button {
  padding: .375rem .75rem;
  border-radius: 3px;
}

span.p-ripple.p-element.p-button.p-component.p-fileupload-choose {
  padding: 6px 8px !important;
}

div.upload-form {}

div.upload-form div.elem-location {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}

div.upload-form div.elem-location label {}

div.upload-form div.elem-location select {
  width: 100%;
  height: 38px;
  border: solid 1px #cecece;
  border-radius: 3px;
  padding: 4px 6px;
}

div.upload-form div.elem-prefix {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}

div.upload-form div.elem-prefix label {}

div.upload-form div.elem-prefix input {
  width: 100%;
  height: 38px;
  border: solid 1px #cecece;
  border-radius: 3px;
  padding: 4px 6px;
}

div.upload-form div.upload-wrapper {
  padding-top: 1rem;
}



.upload-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: solid 1px #cecece;
}

.upload-item:last-of-type {
  padding-bottom: 4px;
  border-bottom: none;
}

.upload-item div.file_name {
  flex-grow: 1;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.upload-item div.file_size {
  flex-shrink: 1;
  white-space: nowrap;
  user-select: none;
  text-align: right;
}

.upload-item div.actions {
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}

.upload-item div.actions div.switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.upload-item div.actions div.switch label {
  white-space: nowrap;
}